*{
    margin: 0;
    padding: 0;
    width: 100%;
}


.header-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    border-bottom: 1px solid gray;
}

.header-left{
    display: flex;
    align-items: center;
    flex-basis:33%;
}

.header-name{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    margin-left: -60%;

}



.header-logo-image{
    
    width: 25%;
    margin: .3rem;
}

.header-products{

    display:flex;
    justify-content: space-around;
    align-content: center;
    flex-basis: 55%;

}


.dropbtn, .dropbtn-1,  .dropbtn-2, .dropbtn-3{

    background-color: black;
    color: white;
    padding: .7rem;
    font-size: 1rem;
    border: none;
    

}


.dropdown, .dropdown-1, .dropdown-2, .dropdown-3 {

    position: relative;
    display: inline-block;
    margin-right: 1rem;
    
}


.dropdown-content, .dropdown-content-1, .dropdown-content-2, .dropdown-content-3 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
    
}


.dropdown-content a, .dropdown-content-1 .a-1, .dropdown-content-2 .a-2, .dropdown-content-3 .a-3{
    color: black;
    padding: .5rem 1rem;
    text-decoration: none;
    display: block;
    width: 83%
}


.dropdown-content a:hover, .dropdown-content-1 .a-1:hover, .dropdown-content-2 .a-2:hover, .dropdown-content-3 .a-3:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content, .dropdown-1:hover .dropdown-content-1, .dropdown-2:hover .dropdown-content-2, .dropdown-3:hover .dropdown-content-3 {display: block;}

.dropdown:hover .dropbtn, .dropdown-1:hover .dropbtn-1, .dropdown-2:hover .dropbtn-2, .dropdown-3:hover .dropbtn-3 {background-color: gold;}


.header-right{

    display: flex;
    flex-basis: 10%;
    

}

.header-input{

    height: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    outline: none;

}


@media screen and (min-width:200px) and (max-width:380px){
    
    
    
    
    .header-main{
        display: block;
        border-bottom: 1px solid gray;
        width: 95%;
    }

    .dropdown, .dropdown-1, .dropdown-2, .dropdown-3 {

        position: relative;
        display: inline-block;
        margin-bottom: .5rem;
        
    }

    .header-products{

        display:block;
       width: 98%;
       margin: .5rem .5rem;
       margin: .5rem .2rem 0rem  .6rem;
    
    }



    .dropbtn, .dropbtn-1,  .dropbtn-2, .dropbtn-3{

        background-color: black;
        color: white;
        padding: 1rem;
        font-size: 1rem;
        border: none;
    
    }
    
    
    .dropdown, .dropdown-1, .dropdown-2, .dropdown-3 {
    
        position: relative;
        display: inline-block;
        
    }
    
    
    .dropdown-content, .dropdown-content-1, .dropdown-content-2, .dropdown-content-3 {
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0,0.2);
        z-index: 1;
        width: 100%;
        
    }
    
    
    .dropdown-content a, .dropdown-content-1 .a-1, .dropdown-content-2 .a-2, .dropdown-content-3 .a-3{
        color: black;
        padding: .5rem 1rem;
        text-decoration: none;
        display: block;
        width: 90%
    }
    
    
    .dropdown-content a:clicked, .dropdown-content-1 .a-1:clicked, .dropdown-content-2 .a-2:clicked, .dropdown-content-3 .a-3:clicked {background-color: #ddd;}
    
    .dropdown:clicked .dropdown-content, .dropdown-1:clicked .dropdown-content-1, .dropdown-2:clicked .dropdown-content-2, .dropdown-3:clicked .dropdown-content-3 {display: block;}
    
    .dropdown:clicked .dropbtn, .dropdown-1:clicked .dropbtn-1, .dropdown-2:clicked .dropbtn-2, .dropdown-3:clicked .dropbtn-3 {background-color: gold;}
    

    .header-right{

        display: block;
        margin: .5rem .5rem;
        
    
    }
    
    .header-input{
    
        height: 2rem;
        border-radius: 10%;
        outline: none;
        width: 97%;
        margin: .5rem .5rem 0rem  0rem;
    
    }

}

@media  screen and (min-width:400px) and (max-width:700px){
 
    .header-main{
        display: block;
        border-bottom: 1px solid gray;
        width: 95%;
    }

    .dropdown, .dropdown-1, .dropdown-2, .dropdown-3 {

        position: relative;
        display: inline-block;
        margin-bottom: .5rem;
        
    }

    .header-products{

        display:block;
       width: 98%;
       margin: .5rem .4rem 0rem  .9rem;
    
    }



    .dropbtn, .dropbtn-1,  .dropbtn-2, .dropbtn-3{

        background-color: black;
        color: white;
        padding: 1rem;
        font-size: 1rem;
        border: none;
    
    }
    
    
    .dropdown, .dropdown-1, .dropdown-2, .dropdown-3 {
    
        position: relative;
        display: inline-block;
        
    }
    
    
    .dropdown-content, .dropdown-content-1, .dropdown-content-2, .dropdown-content-3 {
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0,0.2);
        z-index: 1;
        width: 100%;
        
    }
    
    
    .dropdown-content a, .dropdown-content-1 .a-1, .dropdown-content-2 .a-2, .dropdown-content-3 .a-3{
        color: black;
        padding: .5rem 1rem;
        text-decoration: none;
        display: block;
        width: 90%
    }
    
    
    .dropdown-content a:clicked, .dropdown-content-1 .a-1:clicked, .dropdown-content-2 .a-2:clicked, .dropdown-content-3 .a-3:clicked {background-color: #ddd;}
    
    .dropdown:clicked .dropdown-content, .dropdown-1:clicked .dropdown-content-1, .dropdown-2:clicked .dropdown-content-2, .dropdown-3:clicked .dropdown-content-3 {display: block;}
    
    .dropdown:clicked .dropbtn, .dropdown-1:clicked .dropbtn-1, .dropdown-2:clicked .dropbtn-2, .dropdown-3:clicked .dropbtn-3 {background-color: gold;}
    

    .header-right{

        display: block;
        margin: .5rem .5rem;
        
    
    }
    
    .header-input{
    
        height: 2rem;
        border-radius: 10%;
        outline: none;
        width: 97%;
        margin: .5rem .3rem 0rem  .4rem;
    
    }


}


@media  screen and (min-width:702px) and (max-width:1050px){


     
    .header-main{
        display: block;
        border-bottom: 1px solid rgb(48, 46, 46) ;
        width: 95%;
    }

    .header-left{

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-basis:100%;
        margin-left: 4rem;
    }

   .header-name-heading{
       font-size: 3rem;
   }
    
    .dropdown, .dropdown-1, .dropdown-2, .dropdown-3 {

        position: relative;
        display: inline-block;
        margin-bottom: .5rem;
        
    }

    .header-products{

        display:flex;
       width: 100%;
       margin: .5rem .5rem 0rem  1.5rem;
    
    }



    .dropbtn, .dropbtn-1,  .dropbtn-2, .dropbtn-3{

        background-color: black;
        color: white;
        padding: .7rem;
        font-size: 1rem;
        border: none;
    
    }
    
    
    .dropdown, .dropdown-1, .dropdown-2, .dropdown-3 {
    
        position: relative;
        display: inline-block;
        
    }
    
    
    .dropdown-content, .dropdown-content-1, .dropdown-content-2, .dropdown-content-3 {
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0,0.2);
        z-index: 1;
        width: 100%;
        
    }
    
    
    .dropdown-content a, .dropdown-content-1 .a-1, .dropdown-content-2 .a-2, .dropdown-content-3 .a-3{
        color: black;
        padding: .5rem 1rem;
        text-decoration: none;
        display: block;
        width: 90%
    }
    
    
    .dropdown-content a:clicked, .dropdown-content-1 .a-1:clicked, .dropdown-content-2 .a-2:clicked, .dropdown-content-3 .a-3:clicked {background-color: #ddd;}
    
    .dropdown:clicked .dropdown-content, .dropdown-1:clicked .dropdown-content-1, .dropdown-2:clicked .dropdown-content-2, .dropdown-3:clicked .dropdown-content-3 {display: block;}
    
    .dropdown:clicked .dropbtn, .dropdown-1:clicked .dropbtn-1, .dropdown-2:clicked .dropbtn-2, .dropdown-3:clicked .dropbtn-3 {background-color: gold;}
    

    .header-right{

        display: block;
        margin: .5rem .5rem 0rem  1.5rem;
    
    }
    
    .header-input{
    
        height: 2rem;
        border-radius: 10%;
        outline: none;
        width: 97%;
    
    }


}